{{> header }}

<div id="react-app">

  <div class='preload'>
    <div class="preload_spinner">
      <div class="spinner">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

</div>

{{> footer }}
